# Sanity
NEXT_PUBLIC_SANITY_DATASET=production
NEXT_PUBLIC_SANITY_PROJECT_ID=your_sanity_project_id
SANITY_WRITE_TOKEN=your_sanity_write_token

# Site
SITE_URL=https://your-domain.com

# Resend
RESEND_API_KEY=your_resend_api_key
CONTACT_EMAIL=your-email@example.com

# Feature flags (e.g. projects, about, experience, blog)
# Set to "true" to enable, "false" to disable
NEXT_PUBLIC_FEATURE_PROJECTS=true
NEXT_PUBLIC_FEATURE_ABOUT=true
NEXT_PUBLIC_FEATURE_EXPERIENCE=true
NEXT_PUBLIC_FEATURE_CONTACT=true